body {
  background-color: rgb(18, 18, 18);
  padding:1%;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

.app {
  max-width:900px;
  margin:auto;
}

.search {
  padding-bottom:20px;
  display:flex;
  flex-direction: row;
}

input {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  -webkit-appearance: none;
  font-weight: normal;
  width: 100%;
  height: 52px;
  letter-spacing: 1px;
  font-size: 18px;
  border-radius: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  margin: 0px;
  padding: 0px 17px;
  outline: none;
}

button{
  background: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 100%);
  border:none;
  padding: 0 12px;
  height:52px;
  cursor:pointer;
  outline: none;
}

.container {
  display: flex;
  flex-flow: column wrap;
  align-content: stretch;
  /* Your container needs a fixed height, and it 
   * needs to be taller than your tallest column. */
  width:100%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.item {
  width: 19%;
  cursor:pointer;
  height:140px;
  background-color: rgba(165, 165, 165, 0.1);
  margin-top: 10px;
  overflow:hidden;
}

@media only screen and (max-width: 600px) {
  .item {
    width: 50%;
    height:200px;
  }
}

.item img {
  width:100%;
}

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }
  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }
  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}

.placeholder {
  animation: pulse 1s infinite ease-in-out;
  width:100%;
  height:140px;
}

.zoomin {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; 
}

.ReactModal__Overlay {
  background-color: rgb(18, 18, 18) !important;
  z-index:1000;
}

.ReactModal__Content {
  background-color: rgb(18, 18, 18) !important;
  border:none !important;
  text-align: center !important;
}